---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eos, nihil eveniet officia rem adipisci illo veritatis quis praesentium repellendus voluptates. Dolor totam autem est deleniti esse ipsam explicabo, architecto harum possimus suscipit fugit error animi velit porro aliquid, sequi non quibusdam praesentium! Animi tempore labore autem sapiente nemo, saepe neque repudiandae temporibus optio ullam delectus, rerum quibusdam minus quis vero, inventore eius maxime architecto. Explicabo incidunt ex, debitis minus aspernatur commodi eum velit neque. Culpa voluptatem doloremque accusamus sit eveniet laborum, eaque et maxime? Provident placeat iste maiores hic, ipsa, porro odit neque iusto unde modi, fuga blanditiis quisquam.</p>
</Layout>